.elementor-6 .elementor-element.elementor-element-74749878:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-74749878>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-74749878>.elementor-container {
	max-width: 1440px;
}

.elementor-6 .elementor-element.elementor-element-74749878 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 10px 0px 10px 0px;
	z-index: 1;
}

.elementor-6 .elementor-element.elementor-element-74749878>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(22px/2);
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(22px/2);
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(22px/2);
	margin-left: calc(22px/2);
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-22px/2);
	margin-left: calc(-22px/2);
}

body.rtl .elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-22px/2);
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-22px/2);
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-icon i {
	color: var(--e-global-color-accent);
	transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-icon svg {
	fill: var(--e-global-color-accent);
	transition: fill 0.3s;
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
	color: var(--e-global-color-3a56f75);
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
	fill: var(--e-global-color-3a56f75);
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 {
	--e-icon-list-icon-size: 16px;
	--e-icon-list-icon-align: left;
	--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
	--icon-vertical-offset: 0px;
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-icon {
	padding-right: 0px;
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-item>a {
	font-family: "Comfortaa", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 2em;
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-text {
	color: var(--e-global-color-accent);
	transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-3a56f75);
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-5f399d45.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-5f399d45.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-79424930 {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 18px;
	--grid-column-gap: 13px;
	--grid-row-gap: 0px;
}

.elementor-6 .elementor-element.elementor-element-79424930 .elementor-widget-container {
	text-align: right;
}

.elementor-6 .elementor-element.elementor-element-79424930 .elementor-social-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-79424930 .elementor-social-icon i {
	color: var(--e-global-color-accent);
}

.elementor-6 .elementor-element.elementor-element-79424930 .elementor-social-icon svg {
	fill: var(--e-global-color-accent);
}

.elementor-6 .elementor-element.elementor-element-79424930 .elementor-social-icon:hover {
	background-color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-79424930 .elementor-social-icon:hover i {
	color: var(--e-global-color-3a56f75);
}

.elementor-6 .elementor-element.elementor-element-79424930 .elementor-social-icon:hover svg {
	fill: var(--e-global-color-3a56f75);
}

.elementor-6 .elementor-element.elementor-element-69190bcc:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-69190bcc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-3a56f75);
}

.elementor-6 .elementor-element.elementor-element-69190bcc>.elementor-background-overlay {
	background-image: url("/center.png");
	background-position: top center;
	background-size: 10% auto;
	opacity: 0.02;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-69190bcc>.elementor-container {
	max-width: 1440px;
}

.elementor-6 .elementor-element.elementor-element-69190bcc {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0px 0px 60px 0px;
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-63ead38a.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-63ead38a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-63ead38a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}

.elementor-6 .elementor-element.elementor-element-36761206>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-36761206 {
	text-align: left;
}

.elementor-6 .elementor-element.elementor-element-36761206 .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 230px;
	font-weight: 500;
	line-height: 1.2em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-0dc6c38>.elementor-widget-container {
	margin: -37px 0px 0px 0px;
	padding: 0px 0px 30px 0px;
}

.elementor-6 .elementor-element.elementor-element-0dc6c38 {
	text-align: left;
}

.elementor-6 .elementor-element.elementor-element-0dc6c38 .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 44px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.2em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-e26575e .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-0cbacf9-font-family), Sans-serif;
	font-size: var(--e-global-typography-0cbacf9-font-size);
	font-weight: var(--e-global-typography-0cbacf9-font-weight);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	box-shadow: 6px 6px 0px 0px #929394;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color: var(--e-global-color-primary);
	border-radius: 20px 20px 20px 20px;
	padding: 20px 40px 20px 40px;
}

.elementor-6 .elementor-element.elementor-element-e26575e .elementor-button:hover,
.elementor-6 .elementor-element.elementor-element-e26575e .elementor-button:focus {
	background-color: var(--e-global-color-baef552);
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-e26575e>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-e26575e .elementor-button:hover svg,
.elementor-6 .elementor-element.elementor-element-e26575e .elementor-button:focus svg {
	fill: var(--e-global-color-primary);
}
/*
.elementor-6 .elementor-element.elementor-element-11fe22ef:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-11fe22ef>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2025/02/Ellipse-47.png");
	background-position: bottom center;
	background-size: contain;
}
*/

.elementor-6 .elementor-element.elementor-element-11fe22ef>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-11fe22ef>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-2514cefe>.elementor-widget-container {
	margin: 20% 0% 10% 0%;
}

.elementor-6 .elementor-element.elementor-element-2514cefe {
	z-index: 1;
}

.elementor-6 .elementor-element.elementor-element-2514cefe img {
	width: 65%;
}

.elementor-6 .elementor-element.elementor-element-6fb5cc69 {
	width: var(--container-widget-width, 50%);
	max-width: 50%;
	--container-widget-width: 50%;
	--container-widget-flex-grow: 0;
	top: 693px;
}

.elementor-6 .elementor-element.elementor-element-6fb5cc69>.elementor-widget-container {
	--e-transform-translateX: -13%;
	--e-transform-translateY: -244px;
	background-color: #1B1B1B;
	margin: 0% 20% -86% 20%;
	padding: 0% 0% 0% 0%;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 10px 10px 0px 0px #000000;
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-6fb5cc69 {
	left: 31px;
}

body.rtl .elementor-6 .elementor-element.elementor-element-6fb5cc69 {
	right: 31px;
}

.elementor-6 .elementor-element.elementor-element-6fb5cc69 img {
	width: 100%;
}

.elementor-6 .elementor-element.elementor-element-ea7acdd {
	width: var(--container-widget-width, 50%);
	max-width: 50%;
	--container-widget-width: 50%;
	--container-widget-flex-grow: 0;
	top: 528px;
}

.elementor-6 .elementor-element.elementor-element-ea7acdd>.elementor-widget-container {
	--e-transform-translateX: 20%;
	--e-transform-translateY: -415px;
	background-color: #1B1B1B;
	margin: 0% 30% -86% 30%;
	padding: 0% 0% 0% 0%;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 10px 10px 0px 0px #000000;
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-ea7acdd {
	left: 352px;
}

body.rtl .elementor-6 .elementor-element.elementor-element-ea7acdd {
	right: 352px;
}

.elementor-6 .elementor-element.elementor-element-ea7acdd img {
	width: 100%;
}

.elementor-6 .elementor-element.elementor-element-6375c04e {
	margin-top: -1%;
	margin-bottom: 0%;
}

.elementor-6 .elementor-element.elementor-element-5d197e6e {
	--divider-border-style: solid;
	--divider-color: var(--e-global-color-primary);
	--divider-border-width: 10px;
}

.elementor-6 .elementor-element.elementor-element-5d197e6e>.elementor-widget-container {
	background-color: var(--e-global-color-primary);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 30px 0px;
	border-radius: 20px 20px 20px 20px;
}

.elementor-6 .elementor-element.elementor-element-5d197e6e .elementor-divider-separator {
	width: 70%;
	margin: 0 auto;
	margin-center: 0;
}

.elementor-6 .elementor-element.elementor-element-5d197e6e .elementor-divider {
	text-align: center;
	padding-block-start: 2px;
	padding-block-end: 2px;
}

.elementor-6 .elementor-element.elementor-element-6b68454>.elementor-container {
	max-width: 1440px;
}

.elementor-6 .elementor-element.elementor-element-6b68454 {
	padding: 50px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-0481e6c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-element-populated>.elementor-background-overlay {
	background-image: url("/center.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50% auto;
	opacity: 0.2;
}

.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-element-populated {
	box-shadow: 9px 9px 0px 0px #929394;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-17ea5cf>.elementor-container {
	max-width: 1440px;
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-fc2bd3d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-fc2bd3d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-fc2bd3d>.elementor-element-populated {
	margin: 0% 0% 0% 10%;
	--e-column-margin-right: 0%;
	--e-column-margin-left: 10%;
}

.elementor-6 .elementor-element.elementor-element-e929940 {
	text-align: left;
}

.elementor-6 .elementor-element.elementor-element-e929940 .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 50px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: var(--e-global-color-accent);
}

.elementor-6 .elementor-element.elementor-element-b263e94>.elementor-widget-container {
	margin: 0% 30% 4% 0%;
}

.elementor-6 .elementor-element.elementor-element-b263e94 {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
	color: var(--e-global-color-accent);
}

.elementor-6 .elementor-element.elementor-element-f420844 .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-0cbacf9-font-family), Sans-serif;
	font-size: var(--e-global-typography-0cbacf9-font-size);
	font-weight: var(--e-global-typography-0cbacf9-font-weight);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	box-shadow: 6px 6px 0px 0px #929394;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color: var(--e-global-color-primary);
	border-radius: 20px 20px 20px 20px;
	padding: 20px 40px 20px 40px;
}

.elementor-6 .elementor-element.elementor-element-f420844 .elementor-button:hover,
.elementor-6 .elementor-element.elementor-element-f420844 .elementor-button:focus {
	background-color: var(--e-global-color-baef552);
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-f420844>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-f420844 .elementor-button:hover svg,
.elementor-6 .elementor-element.elementor-element-f420844 .elementor-button:focus svg {
	fill: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-97b9d79 .elementor-button {
	background-color: #FFFFFF00;
	font-family: var(--e-global-typography-0cbacf9-font-family), Sans-serif;
	font-size: var(--e-global-typography-0cbacf9-font-size);
	font-weight: var(--e-global-typography-0cbacf9-font-weight);
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
}

.elementor-6 .elementor-element.elementor-element-97b9d79 .elementor-button:hover,
.elementor-6 .elementor-element.elementor-element-97b9d79 .elementor-button:focus {
	background-color: #FEB82A00;
	color: var(--e-global-color-3a56f75);
}

.elementor-6 .elementor-element.elementor-element-97b9d79>.elementor-widget-container {
	margin: 3% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-97b9d79 .elementor-button:hover svg,
.elementor-6 .elementor-element.elementor-element-97b9d79 .elementor-button:focus svg {
	fill: var(--e-global-color-3a56f75);
}

.elementor-bc-flex-widget .elementor-6 .elementor-element.elementor-element-12f0326.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-12f0326.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-6 .elementor-element.elementor-element-66b62dc>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
	padding: 20px 0px 20px 0px;
}

.elementor-6 .elementor-element.elementor-element-66b62dc {
	text-align: center;
}

.elementor-6 .elementor-element.elementor-element-66b62dc img {
	width: 44%;
}

.elementor-6 .elementor-element.elementor-element-84d176f {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 60px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-6 .elementor-element.elementor-element-a4eea4f>.elementor-widget-container {
	margin: 0% 0% -3% 0%;
	padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-a4eea4f {
	text-align: center;
}

.elementor-6 .elementor-element.elementor-element-a4eea4f .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 100px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-2257cced>.elementor-container {
	max-width: 1440px;
}

.elementor-6 .elementor-element.elementor-element-2257cced>.elementor-background-overlay {
	opacity: 0.05;
}

.elementor-6 .elementor-element.elementor-element-2257cced {
	padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-4a042d25>.elementor-container {
	max-width: 1440px;
}

.elementor-6 .elementor-element.elementor-element-4f05c8b5:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-3a56f75);
	background-image: url("/bibicat_logo.png");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 40% auto;
}

.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-element-populated {
	box-shadow: 5px 5px 0px 0px #000000;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 20px 20px 20px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 100px 0px 100px 40px;
}

.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-fdab683>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-fdab683 .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-18e34f22 .elementor-button {
	background-color: #FFFFFF00;
	font-family: "Comfortaa", Sans-serif;
	font-size: 18px;
	font-weight: 500;
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
}

.elementor-6 .elementor-element.elementor-element-18e34f22 .elementor-button:hover,
.elementor-6 .elementor-element.elementor-element-18e34f22 .elementor-button:focus {
	background-color: #FEB82A00;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-18e34f22>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-18e34f22 .elementor-button:hover svg,
.elementor-6 .elementor-element.elementor-element-18e34f22 .elementor-button:focus svg {
	fill: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-6fdee9e1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #ffffff;
	background-image: url("/center.png");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 52% auto;
}

.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-element-populated {
	box-shadow: 5px 5px 0px 0px #000000;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 20px 20px 20px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 100px 0px 100px 40px;
}

.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-34e8224c>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-34e8224c .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-51a3be8b .elementor-button {
	background-color: #FFFFFF00;
	font-family: var(--e-global-typography-0cbacf9-font-family), Sans-serif;
	font-size: var(--e-global-typography-0cbacf9-font-size);
	font-weight: var(--e-global-typography-0cbacf9-font-weight);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
}

.elementor-6 .elementor-element.elementor-element-51a3be8b .elementor-button:hover,
.elementor-6 .elementor-element.elementor-element-51a3be8b .elementor-button:focus {
	background-color: #FEB82A00;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-51a3be8b>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-51a3be8b .elementor-button:hover svg,
.elementor-6 .elementor-element.elementor-element-51a3be8b .elementor-button:focus svg {
	fill: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-4b92d336>.elementor-container {
	max-width: 1440px;
}

.elementor-6 .elementor-element.elementor-element-2addfc31:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #ffffff;
	background-image: url("/fire.gif");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 60% auto;
}

.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-element-populated {
	box-shadow: 5px 5px 0px 0px #000000;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 20px 20px 20px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 100px 0px 100px 40px;
}

.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-2cbc0ea>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-2cbc0ea .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-494320f1 .elementor-button {
	background-color: #FFFFFF00;
	font-family: var(--e-global-typography-0cbacf9-font-family), Sans-serif;
	font-size: var(--e-global-typography-0cbacf9-font-size);
	font-weight: var(--e-global-typography-0cbacf9-font-weight);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
}

.elementor-6 .elementor-element.elementor-element-494320f1 .elementor-button:hover,
.elementor-6 .elementor-element.elementor-element-494320f1 .elementor-button:focus {
	background-color: #FEB82A00;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-494320f1>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-494320f1 .elementor-button:hover svg,
.elementor-6 .elementor-element.elementor-element-494320f1 .elementor-button:focus svg {
	fill: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-69f24083:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-3a56f75);
	background-image: url("/bibicat_web.gif");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 30% auto;
}

.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-element-populated,
.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-element-populated>.elementor-background-overlay,
.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-element-populated {
	box-shadow: 5px 5px 0px 0px #000000;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 20px 20px 20px 20px;
	--e-column-margin-right: 20px;
	--e-column-margin-left: 20px;
	padding: 100px 0px 100px 40px;
}

.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-aa0fd54>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-aa0fd54 .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-6621c5b7 .elementor-button {
	background-color: #FFFFFF00;
	font-family: var(--e-global-typography-0cbacf9-font-family), Sans-serif;
	font-size: var(--e-global-typography-0cbacf9-font-size);
	font-weight: var(--e-global-typography-0cbacf9-font-weight);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
}

.elementor-6 .elementor-element.elementor-element-6621c5b7 .elementor-button:hover,
.elementor-6 .elementor-element.elementor-element-6621c5b7 .elementor-button:focus {
	background-color: #FEB82A00;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-6621c5b7>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-6621c5b7 .elementor-button:hover svg,
.elementor-6 .elementor-element.elementor-element-6621c5b7 .elementor-button:focus svg {
	fill: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-3c3ba7a2:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-3c3ba7a2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-7507e9b);
}

.elementor-6 .elementor-element.elementor-element-3c3ba7a2>.elementor-background-overlay {
	background-image: url("/center.png");
	background-position: center center;
	background-repeat: repeat-x;
	background-size: 11% auto;
	opacity: 0.03;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-6 .elementor-element.elementor-element-3c3ba7a2 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 100px;
	margin-bottom: 0px;
	padding: 100px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-3c3ba7a2>.elementor-shape-top .elementor-shape-fill {
	fill: var(--e-global-color-accent);
}

.elementor-6 .elementor-element.elementor-element-3c3ba7a2>.elementor-shape-top svg {
	width: calc(300% + 1.3px);
	height: 184px;
}

.elementor-6 .elementor-element.elementor-element-3c386097>.elementor-widget-container {
	margin: 0px 0px -27px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-3c386097 img {
	width: 17%;
}

.elementor-6 .elementor-element.elementor-element-ec87d66>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-ec87d66 {
	text-align: center;
}

.elementor-6 .elementor-element.elementor-element-ec87d66 .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-258303c9>.elementor-widget-container {
	margin: 20px 0px 20px 0px;
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(50px/2);
	margin-left: calc(50px/2);
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-50px/2);
	margin-left: calc(-50px/2);
}

body.rtl .elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-50px/2);
}

body:not(.rtl) .elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-50px/2);
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-icon i {
	transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-icon svg {
	transition: fill 0.3s;
}

.elementor-6 .elementor-element.elementor-element-258303c9 {
	--e-icon-list-icon-size: 14px;
	--icon-vertical-offset: 0px;
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-item>a {
	font-family: var(--e-global-typography-0cbacf9-font-family), Sans-serif;
	font-size: var(--e-global-typography-0cbacf9-font-size);
	font-weight: var(--e-global-typography-0cbacf9-font-weight);
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-text {
	color: var(--e-global-color-primary);
	transition: color 0.3s;
}

.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: #000000;
}

.elementor-6 .elementor-element.elementor-element-51c9c29f {
	--divider-border-style: dots_tribal;
	--divider-color: #000;
	--divider-pattern-height: 20px;
}

.elementor-6 .elementor-element.elementor-element-51c9c29f>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-51c9c29f .elementor-divider-separator {
	width: 48%;
	margin: 0 auto;
	margin-center: 0;
}

.elementor-6 .elementor-element.elementor-element-51c9c29f .elementor-divider {
	text-align: center;
	padding-block-start: 2px;
	padding-block-end: 2px;
}

.elementor-6 .elementor-element.elementor-element-25a05d93 {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 17px;
	--grid-column-gap: 26px;
	--grid-row-gap: 0px;
}

.elementor-6 .elementor-element.elementor-element-25a05d93 .elementor-widget-container {
	text-align: center;
}

.elementor-6 .elementor-element.elementor-element-25a05d93>.elementor-widget-container {
	margin: 0px 0px 50px 0px;
}

.elementor-6 .elementor-element.elementor-element-25a05d93 .elementor-social-icon {
	background-color: var(--e-global-color-primary);
	--icon-padding: 0.6em;
}

.elementor-6 .elementor-element.elementor-element-25a05d93 .elementor-social-icon i {
	color: var(--e-global-color-accent);
}

.elementor-6 .elementor-element.elementor-element-25a05d93 .elementor-social-icon svg {
	fill: var(--e-global-color-accent);
}

.elementor-6 .elementor-element.elementor-element-5bf0c50 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}

.elementor-6 .elementor-element.elementor-element-5bf0c50:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-5bf0c50>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-703f749>.elementor-widget-container {
	margin: 0% 0% 0% 0%;
}

.elementor-6 .elementor-element.elementor-element-703f749 {
	text-align: center;
}

.elementor-6 .elementor-element.elementor-element-703f749 .elementor-heading-title {
	font-family: "impact", Sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1.5em;
	color: #FFFFFF;
}

@media(min-width:768px) {
	.elementor-6 .elementor-element.elementor-element-4f05c8b5 {
		width: 60%;
	}

	.elementor-6 .elementor-element.elementor-element-6fdee9e1 {
		width: 40%;
	}

	.elementor-6 .elementor-element.elementor-element-2addfc31 {
		width: 40%;
	}

	.elementor-6 .elementor-element.elementor-element-69f24083 {
		width: 60%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-6 .elementor-element.elementor-element-4179deb9 {
		width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-5f399d45 {
		width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-fc2bd3d {
		width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-12f0326 {
		width: 100%;
	}
}

@media(max-width:1024px) {
	.elementor-6 .elementor-element.elementor-element-79424930 .elementor-widget-container {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-69190bcc {
		margin-top: -7em;
		margin-bottom: 0em;
	}

	.elementor-6 .elementor-element.elementor-element-36761206 {
		text-align: left;
	}

	.elementor-6 .elementor-element.elementor-element-36761206 .elementor-heading-title {
		font-size: 55px;
	}

	.elementor-6 .elementor-element.elementor-element-0dc6c38 {
		text-align: left;
	}

	.elementor-6 .elementor-element.elementor-element-0dc6c38 .elementor-heading-title {
		font-size: 55px;
	}

	.elementor-6 .elementor-element.elementor-element-e26575e .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-2514cefe img {
		width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-6fb5cc69>.elementor-widget-container {
		margin: 0% 20% -27% 20%;
	}

	.elementor-6 .elementor-element.elementor-element-6375c04e {
		margin-top: -14%;
		margin-bottom: 0%;
	}

	.elementor-6 .elementor-element.elementor-element-5d197e6e .elementor-divider {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-5d197e6e .elementor-divider-separator {
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-element-populated {
		margin: 5px 5px 5px 5px;
		--e-column-margin-right: 5px;
		--e-column-margin-left: 5px;
	}

	.elementor-6 .elementor-element.elementor-element-fc2bd3d>.elementor-element-populated {
		margin: 0% 0% 0% 0%;
		--e-column-margin-right: 0%;
		--e-column-margin-left: 0%;
	}

	.elementor-6 .elementor-element.elementor-element-e929940>.elementor-widget-container {
		margin: 7% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-e929940 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-e929940 .elementor-heading-title {
		font-size: 36px;
	}

	.elementor-6 .elementor-element.elementor-element-b263e94>.elementor-widget-container {
		margin: 0% 20% 0% 20%;
	}

	.elementor-6 .elementor-element.elementor-element-b263e94 {
		text-align: center;
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-6 .elementor-element.elementor-element-f420844 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-97b9d79 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-66b62dc img {
		width: 55%;
	}

	.elementor-6 .elementor-element.elementor-element-a4eea4f {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-a4eea4f .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-6 .elementor-element.elementor-element-4f05c8b5:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 54% auto;
	}

	.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-element-populated {
		padding: 50px 0px 200px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-fdab683 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-fdab683 .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-6 .elementor-element.elementor-element-6fdee9e1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 83% auto;
	}

	.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-element-populated {
		padding: 50px 0px 200px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-34e8224c {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-34e8224c .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-6 .elementor-element.elementor-element-51a3be8b .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-2addfc31:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 77% auto;
	}

	.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-element-populated {
		padding: 50px 0px 200px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-2cbc0ea {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-2cbc0ea .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-6 .elementor-element.elementor-element-494320f1 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-69f24083:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 45% auto;
	}

	.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-element-populated {
		padding: 50px 0px 200px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-aa0fd54 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-aa0fd54 .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-6 .elementor-element.elementor-element-6621c5b7 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-ec87d66 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-ec87d66 .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-51c9c29f .elementor-divider {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-51c9c29f .elementor-divider-separator {
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-6 .elementor-element.elementor-element-703f749 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-703f749 .elementor-heading-title {
		font-size: 25px;
	}
}

@media(max-width:767px) {
	.elementor-6 .elementor-element.elementor-element-74749878 {
		padding: 10px 0px 2px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-4179deb9>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 3px 0px 0px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-6 .elementor-element.elementor-element-1d1f05d4 .elementor-icon-list-item>a {
		font-size: 13px;
	}

	.elementor-6 .elementor-element.elementor-element-5f399d45>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-79424930 {
		--icon-size: 22px;
	}

	.elementor-6 .elementor-element.elementor-element-69190bcc>.elementor-background-overlay {
		background-position: bottom center;
		background-size: 100px auto;
		opacity: 0.03;
	}

	.elementor-6 .elementor-element.elementor-element-69190bcc {
		margin-top: -7em;
		margin-bottom: 0em;
		padding: 0px 0px 0120px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-36761206>.elementor-widget-container {
		margin: 31% 0% -6% 0%;
		padding: 0px 0px 0px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-36761206 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-36761206 .elementor-heading-title {
		font-size: 118px;
	}

	.elementor-6 .elementor-element.elementor-element-0dc6c38>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
		padding: 0px 0px 0px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-0dc6c38 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-0dc6c38 .elementor-heading-title {
		font-size: 39px;
	}

	.elementor-6 .elementor-element.elementor-element-e26575e {
		width: 100%;
		max-width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-e26575e>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
		padding: 0px 0px 43px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-e26575e .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-11fe22ef:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-11fe22ef>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: cover;
	}

	.elementor-6 .elementor-element.elementor-element-11fe22ef>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-2514cefe>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-2514cefe {
		z-index: 11;
	}

	.elementor-6 .elementor-element.elementor-element-2514cefe img {
		width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-6fb5cc69>.elementor-widget-container {
		margin: 81% 0% -18% 13%;
	}

	body:not(.rtl) .elementor-6 .elementor-element.elementor-element-6fb5cc69 {
		left: 10px;
	}

	body.rtl .elementor-6 .elementor-element.elementor-element-6fb5cc69 {
		right: 10px;
	}

	.elementor-6 .elementor-element.elementor-element-6fb5cc69 {
		top: 341px;
	}

	.elementor-6 .elementor-element.elementor-element-ea7acdd>.elementor-widget-container {
		--e-transform-translateX: 16%;
		--e-transform-translateY: -354px;
		margin: 0% 20% -72% 20%;
	}

	body:not(.rtl) .elementor-6 .elementor-element.elementor-element-ea7acdd {
		left: 165px;
	}

	body.rtl .elementor-6 .elementor-element.elementor-element-ea7acdd {
		right: 165px;
	}

	.elementor-6 .elementor-element.elementor-element-ea7acdd {
		top: 321px;
	}

	.elementor-6 .elementor-element.elementor-element-6375c04e {
		margin-top: -8%;
		margin-bottom: 0%;
	}

	.elementor-6 .elementor-element.elementor-element-5d197e6e .elementor-divider-separator {
		width: 80%;
	}

	.elementor-6 .elementor-element.elementor-element-6b68454 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-0481e6c>.elementor-element-populated>.elementor-background-overlay {
		background-size: 700px auto;
	}

	.elementor-6 .elementor-element.elementor-element-fc2bd3d>.elementor-element-populated {
		padding: 0px 5px 0px 5px;
	}

	.elementor-6 .elementor-element.elementor-element-e929940>.elementor-widget-container {
		margin: 20% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-e929940 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-e929940 .elementor-heading-title {
		font-size: 50px;
	}

	.elementor-6 .elementor-element.elementor-element-b263e94>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-b263e94 {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-6 .elementor-element.elementor-element-f420844 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-f420844>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
		padding: 0px 0px 43px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-f420844 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-97b9d79 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-97b9d79>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-97b9d79 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
		border-width: 0px 0px 0px 0px;
	}

	.elementor-6 .elementor-element.elementor-element-66b62dc img {
		width: 81%;
	}

	.elementor-6 .elementor-element.elementor-element-a4eea4f {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-a4eea4f .elementor-heading-title {
		font-size: 60px;
	}

	.elementor-6 .elementor-element.elementor-element-4f05c8b5:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 76% auto;
	}

	.elementor-6 .elementor-element.elementor-element-4f05c8b5>.elementor-element-populated {
		margin: 5px 5px 5px 5px;
		--e-column-margin-right: 5px;
		--e-column-margin-left: 5px;
		padding: 15% 0% 70% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-fdab683 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-fdab683 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-6 .elementor-element.elementor-element-18e34f22 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-18e34f22>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-18e34f22 .elementor-button {
		font-size: 13px;
	}

	.elementor-6 .elementor-element.elementor-element-6fdee9e1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 80% auto;
	}

	.elementor-6 .elementor-element.elementor-element-6fdee9e1>.elementor-element-populated {
		margin: 5px 5px 5px 5px;
		--e-column-margin-right: 5px;
		--e-column-margin-left: 5px;
		padding: 15% 0% 70% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-34e8224c {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-34e8224c .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-6 .elementor-element.elementor-element-51a3be8b {
		width: 100%;
		max-width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-51a3be8b>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-51a3be8b .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-2addfc31:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 100% auto;
	}

	.elementor-6 .elementor-element.elementor-element-2addfc31>.elementor-element-populated {
		margin: 20px 20px 20px 5px;
		--e-column-margin-right: 20px;
		--e-column-margin-left: 5px;
		padding: 15% 0% 70% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-2cbc0ea {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-2cbc0ea .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-6 .elementor-element.elementor-element-494320f1 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-494320f1>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-494320f1 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-69f24083:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
	.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
		background-position: bottom center;
		background-size: 70% auto;
	}

	.elementor-6 .elementor-element.elementor-element-69f24083>.elementor-element-populated {
		margin: 5px 5px 5px 5px;
		--e-column-margin-right: 5px;
		--e-column-margin-left: 5px;
		padding: 15% 0% 70% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-aa0fd54 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-aa0fd54 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-6 .elementor-element.elementor-element-6621c5b7 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-6 .elementor-element.elementor-element-6621c5b7>.elementor-widget-container {
		margin: 0% 0% 0% 0%;
	}

	.elementor-6 .elementor-element.elementor-element-6621c5b7 .elementor-button {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-3c3ba7a2>.elementor-background-overlay {
		background-size: 207px auto;
	}

	.elementor-6 .elementor-element.elementor-element-3c386097 img {
		width: 67%;
	}

	.elementor-6 .elementor-element.elementor-element-ec87d66 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-ec87d66 .elementor-heading-title {
		font-size: 25px;
	}

	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(23px/2);
	}

	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(23px/2);
	}

	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(23px/2);
		margin-left: calc(23px/2);
	}

	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-23px/2);
		margin-left: calc(-23px/2);
	}

	body.rtl .elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-23px/2);
	}

	body:not(.rtl) .elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-23px/2);
	}

	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-item>.elementor-icon-list-text,
	.elementor-6 .elementor-element.elementor-element-258303c9 .elementor-icon-list-item>a {
		font-size: var(--e-global-typography-0cbacf9-font-size);
	}

	.elementor-6 .elementor-element.elementor-element-51c9c29f .elementor-divider-separator {
		width: 45%;
		margin: 0 auto;
		margin-center: 0;
	}

	.elementor-6 .elementor-element.elementor-element-51c9c29f .elementor-divider {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-703f749 {
		text-align: center;
	}

	.elementor-6 .elementor-element.elementor-element-703f749 .elementor-heading-title {
		font-size: 18px;
	}
}

/* Start Custom Fonts CSS */
@font-face {
	font-family: 'impact';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2025/02/impact.ttf') format('truetype');
}

/* End Custom Fonts CSS */